html {
    --header-height: 60px;
}

html[data-theme="light"] {
    --krasa: red;
}

html[data-theme="dark"] {
    --krasa: blue;
}


header {
    width: 100vw;
    height: var(--header-height);
    background-color: var(--krasa);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

body {
    margin: 0;
}

h1 {
    color: var(--krasa);
}

p {
    color: var(--krasa);
}

h2 {
    color: var(--krasa);
}

main {
    margin-top: var(--header-height);
}